@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Fontawesome Brands';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/fontawesome/fontawesomeBrands.ttf') format('truetype');
}

@font-face {
    font-family: 'Fontawesome Duotone';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/fontawesome/fontawesomeDuotone.ttf') format('truetype');
}

@font-face {
    font-family: 'Fontawesome Light';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/fontawesome/fontawesomeLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Fontawesome Regular';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/fontawesome/fontawesomeRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fontawesome Solid';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/fontawesome/fontawesomeSolid.ttf') format('truetype');
}

@font-face {
    font-family: 'Fontawesome Thin';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/fontawesome/fontawesomeThin.ttf') format('truetype');
}

:root, input, button, textarea, select {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    margin: 0;
    padding: 0;

    inset: 0;
    position: absolute;

    box-sizing: border-box;

    overflow: clip;
}

ol, ul {
    list-style: none;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    border-color: transparent;
    outline-style: solid;
    outline-width: 0;
    outline-color: transparent;

    font-family: Montserrat;

    transition: all 118ms ease-in-out;
}

// Intentions
[intention='default'], [intention='neutral'] {
    --color: theme('colors.neutral.400');
    --color-50: theme('colors.neutral.50');
    --color-100: theme('colors.neutral.100');
    --color-200: theme('colors.neutral.200');
    --color-300: theme('colors.neutral.300');
    --color-400: theme('colors.neutral.400');
    --color-500: theme('colors.neutral.500');
    --color-600: theme('colors.neutral.600');
    --color-700: theme('colors.neutral.700');
    --color-800: theme('colors.neutral.800');
    --color-900: theme('colors.neutral.900');
    --color-950: theme('colors.neutral.950');
}

[intention='theme'] {
    --color: theme('colors.blue.400');
    --color-50: theme('colors.blue.50');
    --color-100: theme('colors.blue.100');
    --color-200: theme('colors.blue.200');
    --color-300: theme('colors.blue.300');
    --color-400: theme('colors.blue.400');
    --color-500: theme('colors.blue.500');
    --color-600: theme('colors.blue.600');
    --color-700: theme('colors.blue.700');
    --color-800: theme('colors.blue.800');
    --color-900: theme('colors.blue.900');
    --color-950: theme('colors.blue.950');
}

[intention='success'], [intention='valid'], [intention='safe'] {
    --color: theme('colors.green.400');
    --color-50: theme('colors.green.50');
    --color-100: theme('colors.green.100');
    --color-200: theme('colors.green.200');
    --color-300: theme('colors.green.300');
    --color-400: theme('colors.green.400');
    --color-500: theme('colors.green.500');
    --color-600: theme('colors.green.600');
    --color-700: theme('colors.green.700');
    --color-800: theme('colors.green.800');
    --color-900: theme('colors.green.900');
    --color-950: theme('colors.green.950');
}

[intention='warning'] {
    --color: theme('colors.yellow.400');
    --color-50: theme('colors.yellow.50');
    --color-100: theme('colors.yellow.100');
    --color-200: theme('colors.yellow.200');
    --color-300: theme('colors.yellow.300');
    --color-400: theme('colors.yellow.400');
    --color-500: theme('colors.yellow.500');
    --color-600: theme('colors.yellow.600');
    --color-700: theme('colors.yellow.700');
    --color-800: theme('colors.yellow.800');
    --color-900: theme('colors.yellow.900');
    --color-950: theme('colors.yellow.950');
}

[intention='error'], [intention='invalid'], [intention='danger'] {
    --color: theme('colors.red.400');
    --color-50: theme('colors.red.50');
    --color-100: theme('colors.red.100');
    --color-200: theme('colors.red.200');
    --color-300: theme('colors.red.300');
    --color-400: theme('colors.red.400');
    --color-500: theme('colors.red.500');
    --color-600: theme('colors.red.600');
    --color-700: theme('colors.red.700');
    --color-800: theme('colors.red.800');
    --color-900: theme('colors.red.900');
    --color-950: theme('colors.red.950');
}

[intention='info'], [intention='notice'] {
    --color: theme('colors.blue.400');
    --color-50: theme('colors.blue.50');
    --color-100: theme('colors.blue.100');
    --color-200: theme('colors.blue.200');
    --color-300: theme('colors.blue.300');
    --color-400: theme('colors.blue.400');
    --color-500: theme('colors.blue.500');
    --color-600: theme('colors.blue.600');
    --color-700: theme('colors.blue.700');
    --color-800: theme('colors.blue.800');
    --color-900: theme('colors.blue.900');
    --color-950: theme('colors.blue.950');
}